
video {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block
}


td{
    font-size: large;
    /*vertical-align: bottom;*/
}


/*Bootstrap adjustments*/

.list-group {
    list-style: decimal inside;
}

.list-group-item {
    display: list-item;
}

.form, .form-control {
    width:auto;
    display:inline-block;
}

.input {
    margin-left: 10px;
    margin-right: 5px;
}

/*To Do: fix these class names**/

.cmdRow {
    font-size: medium;
}
.cmdRow:nth-of-type(odd) {
    background: #e0e0e0;
}
.cmdRow:nth-of-type(even) {
    background: #fdfdfd;
}
.cmdTime {
    width: 40px;
}
.cmd{
    margin-right: 20px;
}
.rowNum{
    margin-right: 20px;
}

.del{
    cursor: pointer;
}
.fa-times-circle{
    color: red;
    font-size: x-large;
}